extends wrapper
block content
    header
        h1 Thank you for using, but you are banned or logged out
    main
        | We will be sad for you #{email}
    br
    br
    footer
        | Artem Kurtiak Team. 2021
