extends wrapper
block content
    header
        h1 You was created by user with email #{email}
        br
        h3 Plase follow this link to change your password and start using our app #{frontUrl}
    br
    br
    footer
        | Artem Kurtiak Team. 2021
