extends wrapper
block content
    header
        h1 Thank you for registration in our platform
    main
        | If you have any suggestions plase contact us
    br
    br
    footer
        | Artem Kurtiak Team. 2021
